# build output
dist/
.astro/
docs/.vitepress/cache

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# package manager lock files we are not using
pnpm-lock.yaml

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# editor settings
.vscode/settings.json
.idea/
